cairocffi==0.6
CairoSVG==1.0.9
cffi==0.8.6
cssselect==0.9.1
docopt==0.6.2
html5lib==0.999
Jinja2==2.7.3
lxml==3.4.0
Markdown==2.5.1
MarkupSafe==0.23
pycparser==2.10
Pyphen==0.9.1
PyYAML==3.11
six==1.8.0
tinycss==0.3
WeasyPrint==0.23
